/* margin */

/* 0px */
.m-0{
    margin: 0px;
}
.mx-0{
    margin-left: 0px;
    margin-right: 0px;
}
.my-0{
    margin-top: 0px;
    margin-bottom: 0px;
}
.mt-0{
    margin-top: 0;
}
.mr-0{
    margin-right: 0;
}
.mb-0{
    margin-bottom: 0;
}
.ml-0{
    margin-left: 0;
}

/* 2px */
.m-2p{
    margin: 2px;
}
.mx-2p{
    margin-left: 2px;
    margin-right: 2px;
}
.my-2p{
    margin-top: 2px;
    margin-bottom: 2px;
}
.mt-2p{
    margin-top: 2px;
}
.mr-2p{
    margin-right: 2px;
}
.mb-2p{
    margin-bottom: 2px;
}
.ml-2p{
    margin-left: 2px;
}

/* 5px */
.m-2{
    margin: 5px;
}
.mx-2{
    margin-left: 5px;
    margin-right: 5px;
}
.my-2{
    margin-top: 5px;
    margin-bottom: 5px;
}
.mt-2{
    margin-top: 5px;
}
.mr-2{
    margin-right: 5px;
}
.mb-2{
    margin-bottom: 5px;
}
.ml-2{
    margin-left: 5px;
}

/* 1rem */
.m-4{
    margin: 1rem;
}
.mx-4{
    margin-left: 1rem;
    margin-right: 1rem;
}
.my-4{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mt-4{
    margin-top: 1rem;
}
.mr-4{
    margin-right: 1rem;
}
.mb-4{
    margin-bottom: 1rem;
}
.ml-4{
    margin-left: 1rem;
}

/* 2rem */
.m-8{
    margin: 2rem;
}
.mx-8{
    margin-left: 2rem;
    margin-right: 2rem;
}
.my-8{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.mt-8{
    margin-top: 2rem;
}
.mr-8{
    margin-right: 2rem;
}
.mb-8{
    margin-bottom: 2rem;
}
.ml-8{
    margin-left: 2rem;
}

/* 3rem */
.m-12{
    margin: 3rem;
}
.mx-12{
    margin-left: 3rem;
    margin-right: 3rem;
}
.my-12{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.mt-12{
    margin-top: 3rem;
}
.mr-12{
    margin-right: 3rem;
}
.mb-12{
    margin-bottom: 3rem;
}
.ml-12{
    margin-left: 3rem;
}

/* 4rem */
.m-16{
    margin: 4rem;
}
.mx-16{
    margin-left: 4rem;
    margin-right: 4rem;
}
.my-16{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.mt-16{
    margin-top: 4rem;
}
.mr-16{
    margin-right: 4rem;
}
.mb-16{
    margin-bottom: 4rem;
}
.ml-16{
    margin-left: 4rem;
}

/* 5rem */
.m-20{
    margin: 5rem;
}
.mx-20{
    margin-left: 5rem;
    margin-right: 5rem;
}
.my-20{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.mt-20{
    margin-top: 5rem;
}
.mr-20{
    margin-right: 5rem;
}
.mb-20{
    margin-bottom: 5rem;
}
.ml-20{
    margin-left: 5rem;
}

/* auto */
.m-auto{
    margin: auto;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.my-auto{
    margin-top: auto;
    margin-bottom: auto;
}
.mt-auto{
    margin-top: auto;
}
.mr-auto{
    margin-right: auto;
}
.mb-auto{
    margin-bottom: auto;
}
.ml-auto{
    margin-left: auto;
}

/* -------------------------------------------------------------------------------- */

/* padding */

/* 0px */
.p-0{
    padding: 0px;
}
.px-0{
    padding-left: 0px;
    padding-right: 0px;
}
.py-0{
    padding-top: 0px;
    padding-bottom: 0px;
}
.pt-0{
    padding-top: 0;
}
.pr-0{
    padding-right: 0;
}
.pb-0{
    padding-bottom: 0;
}
.pl-0{
    padding-left: 0;
}

/* 2px */
.p-2p{
    padding: 2px;
}
.px-2p{
    padding-left: 2px;
    padding-right: 2px;
}
.py-2p{
    padding-top: 2px;
    padding-bottom: 2px;
}
.pt-2p{
    padding-top: 2px;
}
.pr-2p{
    padding-right: 2px;
}
.pb-2p{
    padding-bottom: 2px;
}
.pl-2p{
    padding-left: 2px;
}

/* 5px */
.p-2{
    padding: 5px;
}
.px-2{
    padding-left: 5px;
    padding-right: 5px;
}
.py-2{
    padding-top: 5px;
    padding-bottom: 5px;
}
.pt-2{
    padding-top: 5px;
}
.pr-2{
    padding-right: 5px;
}
.pb-2{
    padding-bottom: 5px;
}
.pl-2{
    padding-left: 5px;
}

/* 1rem */
.p-4{
    padding: 1rem;
}
.px-4{
    padding-left: 1rem;
    padding-right: 1rem;
}
.py-4{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.pt-4{
    padding-top: 1rem;
}
.pr-4{
    padding-right: 1rem;
}
.pb-4{
    padding-bottom: 1rem;
}
.pl-4{
    padding-left: 1rem;
}

/* 2rem */
.p-8{
    padding: 2rem;
}
.px-8{
    padding-left: 2rem;
    padding-right: 2rem;
}
.py-8{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.pt-8{
    padding-top: 2rem;
}
.pr-8{
    padding-right: 2rem;
}
.pb-8{
    padding-bottom: 2rem;
}
.pl-8{
    padding-left: 2rem;
}

/* 3rem */
.p-12{
    padding: 3rem;
}
.px-12{
    padding-left: 3rem;
    padding-right: 3rem;
}
.py-12{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.pt-12{
    padding-top: 3rem;
}
.pr-12{
    padding-right: 3rem;
}
.pb-12{
    padding-bottom: 3rem;
}
.pl-12{
    padding-left: 3rem;
}

/* 4rem */
.p-16{
    padding: 4rem;
}
.px-16{
    padding-left: 4rem;
    padding-right: 4rem;
}
.py-16{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.pt-16{
    padding-top: 4rem;
}
.pr-16{
    padding-right: 4rem;
}
.pb-16{
    padding-bottom: 4rem;
}
.pl-16{
    padding-left: 4rem;
}

/* 5rem */
.p-20{
    padding: 5rem;
}
.px-20{
    padding-left: 5rem;
    padding-right: 5rem;
}
.py-20{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.pt-20{
    padding-top: 5rem;
}
.pr-20{
    padding-right: 5rem;
}
.pb-20{
    padding-bottom: 5rem;
}
.pl-20{
    padding-left: 5rem;
}

/* auto */
.p-auto{
    padding: auto;
}
.px-auto{
    padding-left: auto;
    padding-right: auto;
}
.py-auto{
    padding-top: auto;
    padding-bottom: auto;
}
.pt-auto{
    padding-top: auto;
}
.pr-auto{
    padding-right: auto;
}
.pb-auto{
    padding-bottom: auto;
}
.pl-auto{
    padding-left: auto;
}

/* -------------------------------------------------------------------------------- */

/* width */

.w-24{
    width: 6rem;
}
.w-32{
    width: 8rem;
}
.w-40{
    width: 10rem;
}
.w-48{
    width: 12rem;
}
.w-64{
    width: 16rem;
}
.w-96{
    width: 24rem;
}
.w-auto{
    width: auto;
}
.w-25p{
    width: 25%;
}
.w-40p{
    width: 40%;
}
.w-50p{
    width: 50%;
}
.w-60p{
    width: 60%;
}
.w-75p{
    width: 75%;
}
.w-80p{
    width: 80%;
}
.w-100p{
    width: 100%;
}
.w-screen{
    width: 100vw;
}
.w-fit{
    width: fit-content;
}
.w-max{
    width: max-content;
}
.w-min{
    width: min-content;
}

/* -------------------------------------------------------------------------------- */

/* min-height */

.min-h-0{
    min-height: 0px;
}
.min-h-full{
    min-height: 100%;
}
.min-h-screen{
    min-height: 100vh;
}
.min-h-fit{
    min-height: fit-content;
}
.min-h-max{
    min-height: max-content;
}
.min-h-min{
    min-height: min-content;
}

/* -------------------------------------------------------------------------------- */

/* font-size */

.text-xs{
    font-size: 0.75rem;
    line-height: 1rem;
}
.text-sm{
    font-size: 0.875rem; 
    line-height: 1.25rem;
}
.text-base{
    font-size: 1rem;
    line-height: 1.5rem;
}
.text-md{
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-lg{
    font-size: 3rem;
    line-height: 1;
}

/* -------------------------------------------------------------------------------- */

/* font-weight */

.font-thin{	
    font-weight: 100;
}
.font-extralight{
    font-weight: 200;
}
.ffont-light{
    font-weight: 300;
}
.font-normal{
    font-weight: 400;
}
.font-medium{
    font-weight: 500;
}
.font-semibold{
    font-weight: 600;
}
.font-bold{
    font-weight: 700;
}
.font-extrabold{
    font-weight: 800;
}
.font-black{
    font-weight: 900;
}

/* -------------------------------------------------------------------------------- */

/* border-radius */

.border-2{
    border-radius: 2px;
}
.border-5{
    border-radius: 5px;
}
.border-round{
    border-radius: 50%;
}

/* -------------------------------------------------------------------------------- */

/* display */

.block{
    display: block;
}
.inline-block{
    display: inline-block;
}
.inline{
    display: inline;
}
.flex{
    display: flex;
}

/* -------------------------------------------------------------------------------- */

/* flex-properties */

/* flex direction */
.flex-row{
    flex-direction: row;
}
.flex-row-reverse{
    flex-direction: row-reverse;
}
.flex-col{
    flex-direction: column;
}
.flex-col-reverse{
    flex-direction: column-reverse;
}
/* flex wrap */
.flex-wrap{
    flex-wrap: wrap;
}
.flex-wrap-reverse{
    flex-wrap: wrap-reverse;
}
.flex-nowrap{
    flex-wrap: nowrap;
}
/* flex grow */
.grow{
    flex-grow: 1;
}
.grow-0{
    flex-grow: 0;
}
/* flex shrink */
.shrink{
    flex-shrink: 1;
}
.shrink-0{
    flex-shrink: 0;
}
/* flex gap */
.gap-2{
    gap: 5px;
}
.gap-x-2{
    column-gap: 5px;
}
.gap-y-2{
    row-gap: 5px;
}
.gap-4{
    gap: 1rem;
}
.gap-x-4{
    column-gap: 1rem;
}
.gap-y-4{
    row-gap: 1rem;
}
.gap-8{
    gap: 2rem;
}
.gap-x-8{
    column-gap: 2rem;
}
.gap-y-8{
    row-gap: 2rem;
}
/* justify content */
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.justify-evenly{
    justify-content: space-evenly;
}
/* align items */
.items-start{
    align-items: flex-start;
}
.items-end{
    align-items: flex-end;
}
.items-center{
    align-items: center;
}
.items-baseline{
    align-items: baseline;
}
.items-stretch{
    align-items: stretch;
}
